.carousel {
  height: 100%;
}
.carousel-swipe {
  position: relative;
  overflow: hidden;
  height: 100%;
  &__count {
    position: fixed;
    z-index: 1;
    color: #333;
    top: 40px;
    right: 40px;
    font-size: 20px;
    font-weight: 600;
  }
}

.carousel-swipe__wrapper {
  display: flex;
  position: relative;
  height: 100%;
}

.carousel-swipe__item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2n) {
    background-color: orange;
  }
  &:nth-child(2n + 1) {
    background-color: orange;
  }
  &:nth-child(2n + 2) {
    background-color: coral;
  }
}

.carousel-swipe__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.carousel-swipe__control_show {
  display: flex;
}

.carousel-swipe__control:hover,
.carousel-swipe__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-swipe__control_left {
  left: 0;
}

.carousel-swipe__control_right {
  right: 0;
}

.carousel-swipe__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-swipe__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-swipe__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-swipe__item>div {
  font-size: 100px;
  text-align: center;
}

.carousel-dots {
  height: auto;
  text-align: center;
  bottom: 4em;
  position: relative;
  ul {
    list-style: none;
    margin-right: 0;
    padding: 0;
    li {
      display: inline-block;
      &:before {
        content: "";
        width: 15px;
        height: 15px;
        background-color: rgb(255, 255, 255, 0.5);
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 15px;
      }
      &.active:before {
        background-color: white;
      }
    }
  }
}